<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:textflow="http://typo3.org/ns/PixelCoda/TextFlow/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/text_flow.css')}" />
</f:section>

<f:section name="Main">
    <div class="tx-textflow">
        <textflow:optimize language="{settings.language}" text="{text}" enableJs="true">
            <f:format.raw>{text}</f:format.raw>
        </textflow:optimize>
    </div>
</f:section>
</html> 