<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:tf="http://typo3.org/ns/Pixelcoda/TextFlow/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="HeaderAssets">
    <link rel="stylesheet" href="{f:uri.resource(path:'Css/text_flow.css')}" />
</f:section>

<f:section name="Main">
    <div class="textflow-content-display">
        <div class="textflow-content">
            <f:format.raw>{processedText}</f:format.raw>
        </div>
    </div>
</f:section>
</html> 